html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 110px;
  padding-top: 50px;
  padding-bottom: 20px;
}

article, #about-content, #resources-content, #journal-archive-content, #journal-editor-content {
  padding: 1em 10% 1em 10%;
}

.postFooter {
  padding-top: .5em;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-color: #eee;
  padding: 5px;
}

#user-scoring {
  display: none;
}

#meditation-wrap {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding: 1em;
}

#feedback {
  padding: 1em;
  display: none;
}

@media screen and (min-width: 768px) {
  #meditation-wrap {
    margin-left: 2em;
    border: 1px solid black;
    border-radius: 5px;
  }
}
